<ion-header>
   <ion-navbar>
      <ion-title>
         Brease
      </ion-title>
<!--       <ion-buttons end>
       <button
          ion-button
          icon-only
          (click)="addRecord()">
  	  <ion-icon name="add"></ion-icon>
       </button>
    </ion-buttons> -->

   </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-fab right bottom>
    <button ion-fab mini color="danger" (click)="addEvent()">
      <ion-icon name="add"> 
      </ion-icon>
    </button>
  </ion-fab>

   <ion-list>
      <ion-card
         class="event"
         text-wrap
         *ngFor="let event of events | async">
         <ion-item>
            <div *ngIf="event.image">
               <img [src]="event.image">
            </div>
            <h2>{{ event.title }}</h2>
            <small>{{ event.date }} ({{ event.time }})</small>
            <p>{{ event.location }}</p>

<!--             <section class="multiples">
               <h3>Actors/Actresses</h3>
             <ion-chip
                *ngFor="let actor of movie.actors"
                padding-left
                padding-right
                margin-right>{{ actor.name }}</ion-chip>
            </section>
 -->

         </ion-item>


         <div class="manage-record" padding>
           <button
              ion-button
              text-center
              color="primary"
              (click)="editEvent(event)">Edit</button>

           <button
              ion-button
              text-center
              color="danger"
              (click)="deleteEvent(event)">Delete</button>
       </div>

      </ion-card>
   </ion-list>


</ion-content>